:root.dark {
    --dark1: #0e0b0b;
    --dark2: #19191c;
    --dark3: #000000;
    --fontColor: #81adff;
    --btnColor: #1d2129;
    --btnHover: #222224;
    --readBtn: #8195ba;
  }
  
  :root {
    --dark1: #A0BFE0;
    --dark2: #7895CB;
    --dark3: #7895CB;
    --highlight: #97b6f0;
    --fontColor: #000000;
    --btnColor: #697ea8;
    --btnHover: #657eab;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pangolin', cursive;
    color: var(--fontColor);
  }
  
  #toggle {
    cursor: pointer;
    width: 50px;
    height: 30px;
    background-color: var(--highlight);
    display: block;
    border-radius: 100px;
    position: relative;
  
  }
  
  .switch {
    position: absolute;
    top: 4px;
    left: 4px;
    /* width: 20px;
    height: 10px; */
    width: calc(50% - 3px);
    height: calc(100% - 8px);
    background-color: #445a83;
    border-radius: 30px;
    transition: left 0.5s ease;
  }
  
  .switch.darkMode {
    left: calc(50% - 2px);
    background-color: rgb(0, 0, 0);
  }
  
  .nav {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 0 12.5%;
    background-color: var(--dark3);
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 4rem;
    z-index: 5;
    /* border: 2px solid black;*/
  }
  
  .nav h1 {
    margin-right: auto;
  }
  
  .shelf {
    z-index: 3;
    width: 75%;
    margin: auto;
    padding: 1rem 0 1rem;
    gap: 1.5rem;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); */
    grid-template-columns: repeat(auto-fit,15rem);
    grid-auto-rows: 1fr;
    justify-content: center;
    justify-items: flex-start;
  
  }
  
  .cards .readEnabled{
    background-color: var(--fontColor);
    width: calc(100% + 5px);
  }
  .readEnabled h4{
    color: var(--dark2);
  }
  
  .cards {
    z-index: 3;
    height: 20rem;
    width: min(90%, 15rem);
    border-radius: 40px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.8rem;
    background-color: var(--dark2);
  }
  h4{
    font-size: 20px;
  }
  
  .addbook {
    height: 15vh;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    position: sticky;
    top: 4rem;
    z-index: 4;
    background-color: var(--dark1);
  }
  
  .addBtn {
    /* width: 10vmax; */
    height: 8vh;
    margin: auto;
    display: flex;
    padding: 0 14px;
    justify-content: center;
    align-items: center;
    background-color: var(--dark2);
    z-index: 8;
    font-size: 22px;
    border-radius: 30px;
    transition: height 0.2s ease;
    transition: width 0.2s ease;
  }
  
  .addBtn:hover {
    background-color: var(--btnHover);
    /* width: 10.3vmax; */
    padding: 0 17px;
    height: 8.5vh;
    cursor: pointer;
  }
  
  .label {
    /*  background-color: #EDE4FF; */
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .read,
  .remove {
    justify-content: center;
    border-radius: 20px;
    background-color: var(--btnColor);
    cursor: pointer;
  }
  
  .largeSection {
    background-color: var(--dark1);
    min-height: 100vh;
  }
  
  .prompt {
    z-index: 50;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    backdrop-filter: blur(4px);
    display: none;
    justify-content: center;
    align-items: center;
    transition: display 0.2s ease;
  }
  
  .bookDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem 1.5rem;
    background-color: var(--dark3);
    border-radius: 30px;
    position: relative;
  }
  
  .bookDetails >input {
    border-radius: 13px;
    padding: 8px 5px;
    color: #000000;
    font-size: 15px;
    width: 20vw;
    margin-bottom: 10px;
  }
  
  .bookDetails div{
    display: flex;
    width: 100%;
    height: 3rem;
    align-items: center;
    transition: width 0.2s ease;
    transition: height 0.2s ease;
  }
  .bookDetails > div > label{
  margin-right: auto;
  }
  .bookDetails > div > input{
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  #cross{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    z-index: 150;
    color: var(--fontColor);
    font-size: 25px;
    cursor: pointer;
  }
  .bookDetails >div:last-of-type{
   /*  border: 2px solid white; */
    width: 40%;
    background-color: var(--dark2);
    border-radius: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .bookDetails >div:last-of-type:hover{
    width: 40.5%;
    height: 3.1rem;
    background-color: var(--btnHover);
    cursor: pointer;
  
   }
  
  
  
  
  @media only screen and (max-width:900px) {
    .shelf {
      grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    }
    .bookDetails input {
      
      width: 40vw;
      
    }
  }
  
  @media only screen and (max-width:500px) {
    .shelf {
      grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    }
  
    .addbook {
      height: 11vh;
    }
    .bookDetails input {
      
      width: 60vw;
      
    }
  }